.profile-container{
    background-color: aquamarine;
    background-image: linear-gradient(to bottom right, white, rgb(232, 251, 249));
    width: 76%;
    height:auto;
    min-height: 500px;
    margin: 5% 12%;
    border-radius: 20px;
    display: inline-block;
}
.profile-left{
    width: 45%;
    float: left;
    min-height: 500px;
}
    .profile-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 10%;
    }
        .profile-image img{
            padding: 5% 0% 0% 0%;
            width: 50%;
            float: left
        }
    .profile-social-link{
        margin: 5% 0%;
        text-align: center;
    }
    .profile-social-link button{
        border: none;
        padding: 0% 10% 0% 10%;
        background: linear-gradient(to bottom right, rgb(237, 62, 62), rgb(28, 89, 83));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }


.profile-right{
    width: 55%;
    min-height: 500px;
    float: left;
}
    .user-details{
        margin: 10% 5%
    }
