.tourfront-container{
    width: 100%;
    height: auto;
    background-image: url('../../img/topbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 80vh;
}