.header-container{
    background-color: rgb(47, 47, 249);
    background-image: linear-gradient(to right top,  rgb(47, 47, 249), purple);
    width: 100%;
    min-height: 50px;
}

.header-title{
    width: 40%;
    min-height: 30px;
    margin-top: 13px;
    position: left;
    float: left;
    text-align: left;
    margin-left: 15%;
}

.header-navopt{
    width: 45%;
    min-height: 30px;
    margin-top: 13px;
    float: left;
    text-align: left;
}

.header-link{
    color: rgb(255, 255, 255);
    font-size: 1.1em;;
    font-weight: 900;
    padding: 0% 5%;
    text-decoration: none;
    
}
.header-link:hover{
    color:aqua;
}