.header-container{
    background-color: rgb(47, 47, 249);
    width: 100%;
    min-height: 50px;
}

.header-title{
    width: 40%;
    min-height: 30px;
    margin-top: 13px;
    position: left;
    float: left;
    text-align: left;
    margin-left: 15%;
}

.header-navopt{
    width: 45%;
    min-height: 30px;
    margin-top: 13px;
    float: left;
    text-align: left;
}

a{
    color: rgb(255, 255, 255);
    font-size: 1.2em;;
    font-weight: 900;
    padding: 2% 5%;
    text-decoration: none;
    
}
a:hover{
    color:rgb(255, 252, 198);
    font-size: 1.21em;
}